<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout :: layout}">
    <head>
        <title>Best Picture Winner</title>
    </head>
    <body>
    <div layout:fragment="content">
        <h2 class="mb-4">Check Best Picture Winner</h2>

        <form method="post" th:action="@{/movies/best-picture-winner}" class="row g-3 mb-4">
            <div class="col-auto">
                <label for="title" class="visually-hidden">Movie Title</label>
                <input type="text" id="title" name="title" class="form-control" placeholder="Enter movie title" required>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Check</button>
            </div>
        </form>

        <div th:if="${title}">
            <p class="fs-5">
                Movie "<strong th:text="${title}"></strong>"
                <span th:text="${isWinner} ? 'is' : 'is not'"></span>
                a Best Picture winner.
            </p>
        </div>
    </div>

    </body>
</html>
