<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout :: layout}">
    <head>
        <title>Top 10 Rated Movies</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h2 class="mb-4">Top 10 Rated Movies</h2>
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered align-middle">
                    <thead class="table-dark">
                    <tr>
                        <th>Title</th>
                        <th>Year</th>
                        <th>Average Rating</th>
                        <th>Box Office</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="movie : ${topMovies}">
                        <td th:text="${movie.title}"></td>
                        <td th:text="${movie.year}"></td>
                        <td th:text="${#numbers.formatDecimal(movie.averageRating, 1, 2)}"></td>
                        <td th:text="${movie.boxOffice}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
